<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5 bg-white p-5">
            <div class="login-form-div">
                 <div *ngIf="reset_error" class="alert alert-danger">{{reset_error}}</div>
                <div *ngIf="reset_success" class="alert alert-success">{{reset_success}}</div> 
                <h2 class="text-center">Reset pin</h2>
                <br>
                <form [formGroup]="resetform" (ngSubmit)="onSubmit()">
                    
                    <div class="form-group">
                        <label for="pin">New Pin</label>
                        <input type="password" formControlName="new_pin" class="form-control" maxlength="5" [ngClass]="{ 'is-invalid': reset_submitted && f.new_pin.errors }" />
                        <div *ngIf="reset_submitted && f.new_pin.errors" class="invalid-feedback">
                            <div *ngIf="f.new_pin.errors.required">New Pin is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pin">Confirm pin</label>
                        <input type="password" formControlName="confirm_pin" class="form-control" maxlength="5" [ngClass]="{ 'is-invalid': reset_submitted && f.confirm_pin.errors }" />
                        <div *ngIf="reset_submitted && f.confirm_pin.errors" class="invalid-feedback">
                            <div *ngIf="f.confirm_pin.errors.required">pin is required</div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <button [disabled]="reset_loading" class="btn btn-danger btn-block">
                            <span *ngIf="reset_loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Reset pin
                        </button>
                        <br>
                        <!-- <p>Not created account yet? <a routerLink="/register">Register</a></p> -->
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>