<br>
<div class="cstm-tbl" style="margin:0 10px">
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-responsive">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let journal of journals; index as i;">
        <th scope="row">{{i+1}}</th>
        <td>{{journal.title | titlecase }}</td>
        <td>{{ (journal.description.length>50)? (journal.description | slice:0:50)+'....':(journal.description) }}</td>
       
        <td><button class="btn btn-danger btn-sm" (click)= "deleteJournal(journal._id)"><i class="fa fa-fw fa-trash"></i></button></td>
      </tr>
    
    </tbody>
  </table></div>
  <ngx-ui-loader></ngx-ui-loader>