<div class="container bootstrap snippets bootdey">
  <h1 class="text-info mb-2"><span class="glyphicon glyphicon-user"></span>Edit book Info</h1>
    <hr>
<div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100px; width:100px">
      <img src="{{ImgUrl}}{{book?.image}}" *ngIf="!imageSrc"  style="height: 100px; width:100px">
    </div>
    
    <div class="col-md-8 personal-info">
      <div class="alert alert-success alert-dismissable" *ngIf="submitted && success">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
       Book update Successfully.
      </div>
      
      <form class="form-horizontal" [formGroup]="edit_book_form" (ngSubmit)="submitForm()" role="form">
        
          <div class="form-group">
            <div class="col-md-8 mb-2 imageDiv"> 
              <label class="col-lg-3 control-label">Book Image</label>
              <input type="file" (change)="uploadFile($event)" [ngClass]="{ 'is-invalid': f.image.errors }">
              <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                <div *ngIf="f.image.errors.required">Image is required</div>
            </div>
            </div>
          <label class="col-lg-3 control-label">Book Title</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" value="{{book?.title}}">
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
              <div *ngIf="f.title.errors.required">Title is required</div>
          </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Description:</label>
          <div class="col-lg-8">
              <kendo-editor
              [value]="book?.description"
              (valueChange)="valueChange($event)"
              style="height: 400px;"
              formControlName="description"
              [ngClass]="{ 'is-invalid': f.description.errors }"
            ></kendo-editor>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Author:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" formControlName="author" placeholder="Enter Book Author"  [ngClass]="{ 'is-invalid': submitted && f.author.errors }" value="{{book?.author}}">
          </div>
          <div *ngIf="submitted && f.author.errors" class="invalid-feedback">
            <div *ngIf="f.author.errors.required">Author is required</div>
        </div>
        </div>
        <div class="col-lg-8">
          <button class="btn btn-danger btn-block">
            Update Book
        </button>
      </div>
      </form>
    </div>
</div>
</div>
<hr>