<div class="main-content">
    <!-- Top navbar -->
    <!-- Header -->
    <div class="header pt-5 d-flex align-items-center">
      <!-- Mask -->
  
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h1 class="display-2 text-white">Edit Nafs</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <!-- <div class="col-8">
                  <h3 class="mb-0">Nafs</h3>
             </div> -->
                <div class="col-4 text-right">
                </div>
              </div>
            </div>
            <div class="card-body">
              <form [formGroup]="edit_nafs_form" (ngSubmit)="updateForm()">                
                <div class="pl-lg-4">
                  <div class="row">
                 
                  <div class="col-lg-12">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-username">Name</label>
                      <input type="text" id="input-username" formControlName="name" class="form-control form-control-alternative" value="{{nafs?.name}}"/>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-username">Nafs Description</label>
                     
                    <kendo-editor
                    style="height: 400px;"
                    formControlName="description"
                    [ngClass]="{ 'is-invalid': f.description.errors }"
                    value="{{nafs?.description}}"
                ></kendo-editor>
              </div>
                  </div>
                 
                </div>
                <div class="col-md-12">
                 
                  <button class="btn btn-default mybtn">Update Nafs</button>
                  <div class="alert alert-success mt-2" role="alert" *ngIf="this.success == true">
                    Nafs udpated Successfully.
                  </div>
                </div>
                </div> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-ui-loader></ngx-ui-loader>