a.editprofile{
    background: #3c4b64;
    color: white;
    margin: 15px;
    line-height: 2;
    padding: 6px 14px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
a.editprofile i {
    font-size: 20px;
}