<div class="row back-btn mx-2">
  <div class="col-md-6 text-left">
    <a routerLink="/dashboard/users" class="btn btn-info mybtn create_book"><i class="fa fa-chevron-left"></i>Back</a>
  </div>       
</div>
<div class="main-content">
    <div class="header pb-4 pt-5 pt-lg-8 d-flex align-items-center">
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-12 col-md-12">
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <!-- <h3 class="mb-0">My account</h3> -->
             </div>
                <div class="col-4 text-right">
                  <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> --> 
                </div>
              </div>
            </div>
            <div class="card-body">
              <form [formGroup]="createUser" (ngSubmit)="saveUser()"> 
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Name</label>
                        <input type="text" id="input-username" formControlName="name" class="form-control form-control-alternative" placeholder="Name"/>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input type="email" id="input-email" formControlName="email" class="form-control form-control-alternative" placeholder="Enter your Email address"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">Gender</label>
                        <!-- <input type="text" id="input-first-name" formControlName="gender" class="form-control form-control-alternative" placeholder="Gender" value="{{user?.gender | titlecase}}"/> -->
                        <select class="form-select" aria-label="Default select example" formControlName="gender">
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">Mobile Number</label>
                        <input type="text" id="input-first-name" formControlName="mobile_number" class="form-control form-control-alternative" placeholder="Enter your mobile number" value="{{user?.gender | titlecase}}"/>
                        
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">Password</label>
                        <input type="password" id="input-first-name" formControlName="password" class="form-control form-control-alternative" placeholder="Enter your Password" ngModel #password/>
                        <input type="hidden" id="input-first-name" formControlName="user_role" value="user" class="form-control form-control-alternative" style="display: none;"/>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pl-lg-4">
                  <div class="form-group focused">
                    <label>Address</label>
                    <textarea rows="4" class="form-control form-control-alternative" placeholder="Please enter your address ..." formControlName="address"></textarea>
                  </div>
                </div>
                
                <div class="col-md-12">
                  <button class="mybtn btn btn-default">Create User</button>
                  <div class="alert alert-success mt-2" role="alert" *ngIf="this.success == true">
                    User created Successfully.
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
