<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title"><img src="./../../../assets/images/islam.png" alt="Logo" width="120px" srcset=""></li>
    <!-- <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="" routerLinkActive="c-active">
            <i class="c-sidebar-nav-icon cil-home"></i> Dashboard
        </a>
    </li> -->

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="users" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-users"></i> Users
        </a>
    </li>

     <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="books" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-book"></i> Books
        </a>
    </li>
    

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="journals" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-file"></i> Journals
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="news" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-newspaper-o"></i> News
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="blogs" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-file-text"></i> Blogs
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="tv" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-television"></i> TV
        </a>
    </li>

    <!-- <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLinkActive="c-active" (click)="logout()">

            <i class="c-sidebar-nav-icon fa fa-sign-out"></i>  Logout
        </a>
    </li> -->

  
    <!-- allow hosted content -->
    <ng-content></ng-content>
</ul>

