<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">Admin-Dashboard</li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="" routerLinkActive="c-active">
            <!-- core ui icon -->
            <i class="c-sidebar-nav-icon cil-home"></i> Dashboard
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="users" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-users"></i> Users
        </a>
    </li>

     <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="books" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-book"></i> Books
        </a>
    </li>
    

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLinkActive="c-active" (click)="logout()">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-sign-out"></i>  Logout
        </a>
    </li>

  
    <!-- allow hosted content -->
    <ng-content></ng-content>
</ul>

