<a routerLink="/dashboard/news/create" class="btn btn-info create_book"><i class="fa fa-plus"></i> New News</a>
<div class="cstm-tbl" style="margin:0 10px">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-bordered table-responsive">
    <thead> 
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let newsitem of news; index as i;">
        <th scope="row">{{i+1}}</th>
        <td><img src="{{ImgUrl}}/{{newsitem.image}}" width="50px" height="50px"/></td>
        <td>{{newsitem.title | titlecase }}</td>
        <td [innerHTML]="newsitem.description"></td>
       
        <td><button class="btn btn-danger" (click)= "deletenews(newsitem._id)"><i class="fa fa-fw fa-trash"></i></button>
        <a [routerLink]="[ '/dashboard/news/edit',newsitem._id]" class="btn btn-info ml-1"><i class="fa fa-fw fa-edit"></i></a></td>
      </tr>
    
    </tbody>
  </table> 
</div>
<ngx-ui-loader></ngx-ui-loader>