<div class="container bootstrap snippets bootdey">
    <h1 class="text-info"><span class="glyphicon glyphicon-user"></span>Edit Chapter</h1>
      <hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <!-- <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100px; width:100px">
        <h6 *ngIf="imageSrc">Upload a different photo...</h6> -->
      </div>
      
      <div class="col-md-9 personal-info">
        <div class="col-md-8 alert alert-success alert-dismissable" *ngIf="submitted && success">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-Chapter"></i>
          Chapter Created Successfully.
        </div>
        <!-- <h3>Chapter info</h3> -->
        
        <form class="form-horizontal" [formGroup]="edit_chapter" (ngSubmit)="updateChapter()" role="form">
          
           
            <label class="col-lg-12 control-label">Chapter Title</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" placeholder="Enter Chapter Title" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" formControlName="title" ngModel [title]="true" value="{{chapter?.title}}">
              <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Title is required</div>
            </div>
            </div>
          
          <div class="form-group">
            <label class="col-lg-3 control-label">Description:</label>
            <div class="col-lg-8">
                <kendo-editor
                value="{{chapter?.description}}"
                (valueChange)="valueChange($event)"
                style="height: 400px;"
                formControlName="description"
                [ngClass]="{ 'is-invalid': f.description.errors }"
              ></kendo-editor>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Select Book:</label>
            <div class="col-lg-8">
              <select name="book" id="" class="form-control" formControlName="book_id">
                  <!-- <option selected>Select Any one Chapter</option> -->
                  <option value="{{book?._id}}" *ngFor="let book of books; index as i;" [selected] ="chapter?.book_id == book._id">{{book?.title}}</option>
              </select>
          </div>
        </div>
          <div class="col-lg-8">
          <button class="btn btn-danger btn-block">
            Update Chapter
        </button>
      </div>
        </form>
      </div>
  </div>
</div>
<hr>